h1 {
  color: #CCCC00;
  text-align: center;
}

h2 {
  font-style: bold;
  text-align: center;
}

h3 {
  font-style: bold;
  text-align: center;
}

p {
  font-family: cursive;
  text-align: center;
}

.parent {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.parent > ul {
  display: inline-block;
}

.parent > ol {
  display: inline-block;
}
